.container {
    //width: 512px;
    //height: 768px;
    width: 100%;
    height: 90vh;
    //overflow-y: hidden;
    position: relative;
    background: white;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
    margin: 0 auto;
    //margin-top: 96px;
    //margin-bottom: 32px;

    display: flex;
    flex-direction: column;

}


.head-container {
    padding-top: 48px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e9ecef;

    h1 {
        margin: 0;
        font-size: 36px;
        color: #343a40;
    }
}

.day {
    margin-top: 4px;
    color: #868e96;
    font-size: 21px;
}

.task-left-container {
    display: flex;
    justify-content: space-between;
}

.task-left {

    font-size: 16px;
    margin-top: 40px;
    font-weight: bold;

    &.left {
        color: #12b886;
    }

    &.right {
        color: #f76707;
    }

}

.list-container {
    flex: 1;
    padding: 20px 32px;
    padding-bottom: 48px;
    overflow-y: auto;
    overflow-x: hidden;

    &+& {
        border-top: 1px solid #e9ecef;
    }
}

@keyframes fadeOut {
    0% {
        left: 0;

    }

    100% {
        left: -400px;

    }

}

.todo-item {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;




    &.delete {
        animation: fadeOut 0.5s linear forwards;
    }

}

.remove {

    display: flex;
    align-items: center;
    justify-content: center;
    color: #dee2e6;
    font-size: 24px;
    cursor: pointer;
    margin-left: 1rem;

    &:active {
        color: #e03131;
    }
}

.text {
    flex: 1;
    font-size: 16px;
    color: #495057;

    &.select {
        font-weight: bold;
        color: red;
    }

    &.done {
        text-decoration: line-through;
        color: #ced4da;
    }
}

.d-day {
    position: relative;
    left: 0;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 40px;
    border-radius: 16px;
    padding: 1px;

    &.warning {
        background-color: #f03e3e;
    }

    &.safe {
        background-color: #69db7c;
    }
}

.check-circle {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #ced4da;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;

    &.done {
        border: 1px solid #38d9a9;
        color: #38d9a9;
    }
}


@keyframes upAni {
    from {
        top: 0;

    }

    to {
        top: -200px;

    }

}


@keyframes downAni {
    from {
        top: -200px;

    }

    to {
        top: 0px;

    }

}

.todo-create-container {
    //width: 100%;
    //height: 100%;
    position: relative;
    top: 0;

    border-radius: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
    margin: 0 auto;
    //margin-top: 96px;
    //margin-bottom: 32px;

    display: flex;
    flex-direction: column;

    &.up {

        animation: upAni 0.25s linear forwards;
    }

    &.down {
        animation: downAni 0.25s linear forwards;
    }

}

.create-bar {
    width: 100%;
    height: 60px;
    background: #d6336c;
    position: absolute;
    top: 0;
    border-radius: 0 0 16px 16px;
    //display: flex;
    //align-items: center;
    //justify-content: center;
}

.circle-button {
    background: #38d9a9;

    &:hover {
        background: #63e6be;
    }

    &:active {
        background: #20c997;
    }

    z-index: 5;
    cursor: pointer;
    //width: 80px;
    //height: 80px;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-size: 60px;
    color: white;
    border-radius: 40px;
    border: none;
    outline: none;

    transition: 0.125s all ease-in;

    &.open {
        background: #ff6b6b;

        &:hover {
            background: #ff8787;
        }

        &:active {
            background: #fa5252;
        }

        transform: translate(-50%, 50%) rotate(45deg);
    }
}



.input-container {

    width: 100%;
    top: 60px;
    left: 0;
    flex: 1;
    position: absolute;
    //display: none;


}

.todo-form {
    display: flex;
    flex-direction: column;
    background: #fff9db;
    height: 200px;
    padding: 32px;
    padding-bottom: 72px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top: 1px solid #e9ecdf;
    justify-content: center space-between;
    align-items: center;
}

.todo-input {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #f03e3e;
    width: 100%;
    outline: none;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 10px;

}

.btn-create-todo {
    margin-top: 10px;
    padding: 1em;
    width: 140px;
    height: 50px;
    border-radius: 16px;
    border: 2px solid #3b5bdb;
    text-align: center;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.25s ease-in;

    &:active {
        background: #3b5bdb;

        a {
            color: white;
        }
    }

    a {
        font-family: arial;
        font-size: 16px;
        color: #3b5bdb;
        text-decoration: none;

    }

}